.carousel-container {
    position: relative;
}

.carousel-container img {
    object-fit: cover;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0 , 0 , 0 , 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}